In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('salaries.csv')

In [4]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
df.isna().sum()

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

In [6]:
input_column = df.drop(columns='salary_more_then_100k')

In [7]:
target = df['salary_more_then_100k']

In [8]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_edu = LabelEncoder()

In [9]:
input_column['company_class'] = le_company.fit_transform(input_column['company'])
input_column['job_class'] = le_company.fit_transform(input_column['job'])
input_column['edu_class'] = le_company.fit_transform(input_column['degree'])

In [10]:
input_column.head()

  company                  job     degree  company_class  job_class  edu_class
0  google      sales executive  bachelors              2          2          0
1  google      sales executive    masters              2          2          1
2  google     business manager  bachelors              2          0          0
3  google     business manager    masters              2          0          1
4  google  computer programmer  bachelors              2          1          0

In [11]:
input_column = input_column.drop(columns=["company","job","degree"])

In [12]:
input_column.head()

   company_class  job_class  edu_class
0              2          2          0
1              2          2          1
2              2          0          0
3              2          0          1
4              2          1          0

In [13]:
model = tree.DecisionTreeClassifier()

In [14]:
x_train,x_test,y_train,y_test = train_test_split(input_column,target,test_size =0.2)

In [15]:
model.fit(x_train.values,y_train)

DecisionTreeClassifier()

In [16]:
model.predict(x_test.values)

array([1, 1, 1, 0], dtype=int64)

In [17]:
model.predict([[2,2,0]]) #Google Sales Executive Bachelor

array([0], dtype=int64)

In [18]:
model.score(x_test,y_test)

C:\Users\APU\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

1.0